[user]
	email = nicolasecrespo@gmail.com
	name = Nicolas
[safe]
	directory = /root/.config/nvim
	directory = /mnt/c/Users/nicol/AppData/Local/nvim
	directory = /mnt/c/Users/nicol/.glaze-wm/
	directory = /mnt/c/Users/nicol/.glaze-wm
	directory = /mnt/c/Users/nicol/AppData/Roaming/alacritty
	directory = /root/.config/kitty
[core]
	editor = /usr/bin/nvim
[init]
	defaultBranch = main
[alias]
  stataus = status -s
  sta = status -s
  st = status -s
  conf = config --global --edit
  bra = branch -a
  br = branch
