/*my custom css*/  

/* remove spaces above tabs */
#browser.windows .window-buttongroup {
    margin-top: 0px;
}

#tabs-tabbar-container.top {
    padding-top: 0;
}

/* removes vivaldi button */
button.vivaldi {
    display: none;
}

/* moves tabs to the left to cover empty space */
div#tabs-container {
    position: relative;
    left: -30px;
}

.isblurred .tab-position .tab .title {
	opacity: 0.5;
}

.win11 #tabs-container.top {
    padding-right: 110px;
}

#tabs-tabbar-container.top {
    padding-top: 0;
}

/* Hide the tab audio playing indicator icon */
.tab-audio {
  display: none;
}

/* Keep favicon from disappearing while audio icon is shown */
.tab.audio-on .favicon,
.tab.audio-muted .favicon {
  transform: scale(1) !important;
}

